---
import json from 'next-koma.json'

type KoMa = {
  name: string
  url: string
  title: string
  location: string
  start: Date
  end: Date
  info?: string
  signup?: string
}

const komata = Object.values(json).map((koma) => {
  return {
    name: koma.fulltext,
    url: koma.fullurl,
    title: koma.displaytitle,
    location: koma.printouts.Ort[0],
    start: new Date(Number(koma.printouts.Beginn[0].timestamp) * 1000),
    end: new Date(Number(koma.printouts.Ende[0].timestamp) * 1000),
    info: (koma.printouts.Anmeldung ?? [null])[0],
    signup: (koma.printouts.Infoseite ?? [null])[0],
  }
})

function formatDateRange(start: Date, end: Date) {
  const start_day = Intl.DateTimeFormat('de', { day: 'numeric' }).format(start)
  const start_month = Intl.DateTimeFormat('de', { month: 'long' }).format(start)
  const start_year = Intl.DateTimeFormat('de', { year: 'numeric' }).format(start)
  const end_day = Intl.DateTimeFormat('de', { day: 'numeric' }).format(end)
  const end_month = Intl.DateTimeFormat('de', { month: 'long' }).format(end)
  const end_year = Intl.DateTimeFormat('de', { year: 'numeric' }).format(end)
  if (start_year !== end_year) {
    return `${start_day}. ${start_month} ${start_year} - ${end_day}. ${end_month} ${end_year}`
  }
  if (start_month !== end_month) {
    return `${start_day}. ${start_month} - ${end_day}. ${end_month} ${end_year}`
  }
  if (start_day !== end_day) {
    return `${start_day}.-${end_day}. ${end_month} ${end_year}`
  }
  return `${end_day}. ${end_month} ${end_year}`
}
---

<div class="not-prose float-right size-fit p-2 pr-0">
  <div
    class="w-60 rounded-md border-2 border-orange-200 bg-orange-50 p-3 pb-1 pt-5 leading-5 text-zinc-600 shadow-inner shadow-zinc-300 md:w-64 md:px-4 dark:border-orange-900 dark:bg-orange-950 dark:text-zinc-300 dark:shadow-zinc-900"
  >
    <h1
      class="px-2 pb-1 text-sm font-bold uppercase tracking-wide text-zinc-500 dark:text-zinc-400"
    >
      Termine
    </h1>
    <ul class="h-full px-2 pb-2">
      {
        komata.slice(0, 2).map((koma) => {
          const { name, url, location, start, end } = koma
          return (
            <li class="pb-2">
              <a href={url}>
                <span class="block pb-1 pt-3 text-xs font-bold tracking-wider text-zinc-500 dark:text-zinc-400">
                  {formatDateRange(start, end)}
                </span>
              </a>
              <a href={url} class="after:external-link after:ml-1 underline">
                <span>{name} in </span>
                <span class="font-semibold text-zinc-500 dark:text-zinc-400">{location}</span>
              </a>
            </li>
          )
        })
      }
    </ul>
  </div>
</div>
